<?xml version='1.0' encoding='utf-8'?>
<widget id="SzafaGra" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Szafa Gra</name>
    <description>
        Aplikacja wspomagająca podejmowanie decyzji co do codziennego ubioru. 
		Program, dzięki powiązaniu z API pogodowym będzie miał możliwość losowania zestawu ubrań 
		dostosowanego do pogody w oparciu o zdjęcia użytkownika poszczególnych ubrań z szafy oraz 
		przypisanego do nich „słowniczka” tagów.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Małgorzata Kindrat, KrDUIs1011, 186824
		Patrycja Kazek, KrDUIs1011, 186799
		Monika Bujas, KrDUIs1012, 186004
		Joanna Kolańczyk, KrDUIs1011, 186883 - kierownik projektu
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
