/* Login */
.login-form {
position: relative;
width: 360px;
height: 740px;

background: #E2E2E2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 17691-NR9P4B */

position: absolute;
width: 683.7px;
height: 708.8px;
left: -131.95px;
top: 11.19px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 683.7px;
height: 708.8px;
left: -131.95px;
top: 11.19px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.58px;
height: 59.83px;
left: 203.02px;
top: 82.12px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.58px;
height: 59.83px;
left: 203.02px;
top: 82.12px;

transform: rotate(0.81deg);


/* XMLID 28 */

position: absolute;
width: 52.58px;
height: 59.83px;
left: 203.02px;
top: 82.12px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.58px;
height: 59.83px;
left: 203.02px;
top: 82.12px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 230.92px;
right: 113.7px;
top: 82.51px;
bottom: 642.03px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 202.54px;
right: 104.88px;
top: 116.54px;
bottom: 598.06px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 210.84px;
right: 107.54px;
top: 92.26px;
bottom: 615.94px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 98.14px;
height: 60.9px;
left: 393.18px;
top: 287.26px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 98.14px;
height: 60.9px;
left: 393.18px;
top: 287.26px;

transform: rotate(0.81deg);


/* XMLID 33 */

position: absolute;
width: 98.14px;
height: 60.9px;
left: 393.18px;
top: 287.26px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 98.14px;
height: 60.9px;
left: 393.18px;
top: 287.26px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 414.77px;
right: -93.67px;
top: 310.37px;
bottom: 421.99px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 452.73px;
right: -117.23px;
top: 313.5px;
bottom: 412.9px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 448px;
right: -130.93px;
top: 315.64px;
bottom: 391.06px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 416.48px;
right: -94.04px;
top: 287.59px;
bottom: 425.61px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 392.81px;
right: -108.12px;
top: 313.96px;
bottom: 399.14px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 66.26px;
height: 56.14px;
left: -135.45px;
top: 282.27px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 66.26px;
height: 56.14px;
left: -135.45px;
top: 282.27px;

transform: rotate(0.81deg);


/* XMLID 8 */

position: absolute;
width: 66.26px;
height: 56.14px;
left: -135.45px;
top: 282.27px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 66.26px;
height: 56.14px;
left: -135.45px;
top: 282.27px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -135.87px;
right: 429.61px;
top: 311.57px;
bottom: 401.59px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -124.34px;
right: 438.34px;
top: 314.23px;
bottom: 411.86px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -126.99px;
right: 437.09px;
top: 282.39px;
bottom: 445.71px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -126.71px;
right: 437.41px;
top: 290.8px;
bottom: 419.87px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.8px;
height: 106.87px;
left: -18.86px;
top: 323.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.8px;
height: 106.87px;
left: -18.86px;
top: 323.51px;

transform: rotate(0.81deg);


/* XMLID 11 */

position: absolute;
width: 78.8px;
height: 106.87px;
left: -18.86px;
top: 323.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.8px;
height: 106.87px;
left: -18.86px;
top: 323.51px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 6.18px;
right: 336.82px;
top: 370.49px;
bottom: 312.46px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 20.25px;
right: 328.55px;
top: 337.18px;
bottom: 368.52px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 31.12px;
right: 317.28px;
top: 360.74px;
bottom: 373.66px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 29.17px;
right: 318.23px;
top: 364.31px;
bottom: 363.59px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 18.5px;
right: 334px;
top: 326.96px;
bottom: 399.64px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 33.83px;
right: 319.17px;
top: 331.67px;
bottom: 394.43px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 23.84px;
right: 320.06px;
top: 324.12px;
bottom: 402.17px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 12.57px;
right: 300.23px;
top: 335.67px;
bottom: 309.17px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -18.94px;
right: 333.04px;
top: 329.03px;
bottom: 313.67px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 80.1px;
height: 103.25px;
left: 268.61px;
top: 17.17px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 80.1px;
height: 103.25px;
left: 268.61px;
top: 17.17px;

transform: rotate(0.81deg);


/* XMLID 42 */

position: absolute;
width: 80.1px;
height: 103.25px;
left: 268.61px;
top: 17.17px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 80.1px;
height: 103.25px;
left: 268.61px;
top: 17.17px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 314.04px;
right: 33.76px;
top: 50.31px;
bottom: 684.59px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 283.01px;
right: 51.99px;
top: 17.37px;
bottom: 691.13px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 268.52px;
right: 41.68px;
top: 23.27px;
bottom: 619.58px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 301.19px;
right: 11.31px;
top: 18.83px;
bottom: 621.17px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 82.11px;
height: 108.76px;
left: 102.11px;
top: 15.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 82.11px;
height: 108.76px;
left: 102.11px;
top: 15.21px;

transform: rotate(0.81deg);


/* XMLID 2 */

position: absolute;
width: 82.11px;
height: 108.76px;
left: 102.11px;
top: 15.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 82.11px;
height: 108.76px;
left: 102.11px;
top: 15.21px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 122.32px;
right: 218.17px;
top: 15.5px;
bottom: 674.6px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 116.77px;
right: 234.73px;
top: 89.12px;
bottom: 644.48px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 157.48px;
right: 192.32px;
top: 82.2px;
bottom: 649.4px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 116.28px;
right: 224.12px;
top: 18.01px;
bottom: 676.09px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 140.39px;
right: 209.51px;
top: 17.55px;
bottom: 677.85px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 139.45px;
right: 175.85px;
top: 20.64px;
bottom: 618.86px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 101.97px;
right: 214.12px;
top: 25.21px;
bottom: 616.03px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 215.43px;
top: 177.93px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 215.43px;
top: 177.93px;

transform: rotate(0.81deg);


/* XMLID 27 */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 215.43px;
top: 177.93px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 215.43px;
top: 177.93px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 228.85px;
right: 126.22px;
top: 183.68px;
bottom: 547.95px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 215.43px;
right: 131.47px;
top: 177.93px;
bottom: 541.57px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 233.72px;
right: 111.19px;
top: 178.79px;
bottom: 542.01px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 158.89px;
top: 427.55px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 158.89px;
top: 427.55px;

transform: rotate(0.81deg);


/* XMLID 22 */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 158.89px;
top: 427.55px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.38px;
height: 20.5px;
left: 158.89px;
top: 427.55px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 158.89px;
right: 188.01px;
top: 427.55px;
bottom: 291.95px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 172.41px;
right: 182.75px;
top: 433.31px;
bottom: 298.23px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 177.18px;
right: 167.73px;
top: 428.31px;
bottom: 292.39px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.48px;
height: 20.3px;
left: -97.59px;
top: 219.7px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.48px;
height: 20.3px;
left: -97.59px;
top: 219.7px;

transform: rotate(0.81deg);


/* XMLID 7 */

position: absolute;
width: 33.48px;
height: 20.3px;
left: -97.59px;
top: 219.7px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 33.48px;
height: 20.3px;
left: -97.59px;
top: 219.7px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -79.2px;
right: 424.11px;
top: 220.26px;
bottom: 500.44px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -84.07px;
right: 439.13px;
top: 225.26px;
bottom: 506.28px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -97.59px;
right: 444.4px;
top: 219.7px;
bottom: 500px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 17.9px;
height: 77.05px;
left: 328.41px;
top: 533.09px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 17.9px;
height: 77.05px;
left: 328.41px;
top: 533.09px;

transform: rotate(0.81deg);


/* XMLID 45 */

position: absolute;
width: 17.9px;
height: 77.05px;
left: 328.41px;
top: 533.09px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 17.9px;
height: 77.05px;
left: 328.41px;
top: 533.09px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 330.51px;
right: 15.69px;
top: 533.12px;
bottom: 196.3px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 328.27px;
right: 13.83px;
top: 542.87px;
bottom: 129.86px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 79.2px;
height: 99.97px;
left: -140.57px;
top: 619.73px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 79.2px;
height: 99.97px;
left: -140.57px;
top: 619.73px;

transform: rotate(0.81deg);


/* XMLID 15 */

position: absolute;
width: 79.2px;
height: 99.97px;
left: -140.57px;
top: 619.73px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 79.2px;
height: 99.97px;
left: -140.57px;
top: 619.73px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -110.07px;
right: 453.57px;
top: 620.17px;
bottom: 90.73px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -116.01px;
right: 462.78px;
top: 621.18px;
bottom: 84.62px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -102.4px;
right: 448.4px;
top: 622.67px;
bottom: 84.93px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -140.67px;
right: 462.57px;
top: 627.43px;
bottom: 20.3px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -102.59px;
right: 421.49px;
top: 628.77px;
bottom: 20.03px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 22.23px;
height: 25.15px;
left: 511.81px;
top: 301.04px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 22.23px;
height: 25.15px;
left: 511.81px;
top: 301.04px;

transform: rotate(0.81deg);


/* XMLID 32 */

position: absolute;
width: 22.23px;
height: 25.15px;
left: 511.81px;
top: 301.04px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 22.23px;
height: 25.15px;
left: 511.81px;
top: 301.04px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 511.81px;
right: -174.05px;
top: 301.04px;
bottom: 413.81px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 27.4px;
height: 52.05px;
left: 494.87px;
top: 524.96px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 27.4px;
height: 52.05px;
left: 494.87px;
top: 524.96px;

transform: rotate(0.81deg);


/* XMLID 49 */

position: absolute;
width: 27.4px;
height: 52.05px;
left: 494.87px;
top: 524.96px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 27.4px;
height: 52.05px;
left: 494.87px;
top: 524.96px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 495.92px;
right: -160.46px;
top: 533.64px;
bottom: 165.86px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 517.24px;
right: -158.84px;
top: 525.28px;
bottom: 206.76px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 517.33px;
right: -158.53px;
top: 532.74px;
bottom: 206.06px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 517.21px;
right: -157.66px;
top: 529.24px;
bottom: 209.66px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 505.58px;
right: -157.18px;
top: 528.97px;
bottom: 209.5px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 505.73px;
right: -157.33px;
top: 532.46px;
bottom: 205.62px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 505.39px;
right: -157.23px;
top: 525.52px;
bottom: 212.96px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 505.06px;
right: -145.72px;
top: 533.67px;
bottom: 205.63px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 505.38px;
right: -145.67px;
top: 529.87px;
bottom: 209.63px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 504.21px;
right: -146.01px;
top: 526.86px;
bottom: 188.04px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 503.69px;
right: -144.71px;
top: 549.97px;
bottom: 188.15px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 494.76px;
right: -162.15px;
top: 532.92px;
bottom: 163px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 74.81px;
height: 35.08px;
left: 375.11px;
top: 94.88px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 74.81px;
height: 35.08px;
left: 375.11px;
top: 94.88px;

transform: rotate(0.81deg);


/* XMLID 39 */

position: absolute;
width: 74.81px;
height: 35.08px;
left: 375.11px;
top: 94.88px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 74.81px;
height: 35.08px;
left: 375.11px;
top: 94.88px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 440.31px;
right: -89.91px;
top: 95.81px;
bottom: 632.09px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 436.49px;
right: -85.49px;
top: 97.65px;
bottom: 629.95px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 375.06px;
right: -81.97px;
top: 98.68px;
bottom: 610.04px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 45.11px;
height: 75.73px;
left: -26.22px;
top: 483.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 45.11px;
height: 75.73px;
left: -26.22px;
top: 483.21px;

transform: rotate(0.81deg);


/* XMLID 13 */

position: absolute;
width: 45.11px;
height: 75.73px;
left: -26.22px;
top: 483.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 45.11px;
height: 75.73px;
left: -26.22px;
top: 483.21px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -26.22px;
right: 341.11px;
top: 483.21px;
bottom: 181.06px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 48.52px;
height: 58.4px;
left: 500.21px;
top: 209.07px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 48.52px;
height: 58.4px;
left: 500.21px;
top: 209.07px;

transform: rotate(0.81deg);


/* XMLID 31 */

position: absolute;
width: 48.52px;
height: 58.4px;
left: 500.21px;
top: 209.07px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 48.52px;
height: 58.4px;
left: 500.21px;
top: 209.07px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 500.21px;
right: -188.74px;
top: 209.07px;
bottom: 472.54px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.65px;
height: 22px;
left: 149.4px;
top: 620.84px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.65px;
height: 22px;
left: 149.4px;
top: 620.84px;

transform: rotate(0.81deg);


/* XMLID 17 */

position: absolute;
width: 52.65px;
height: 22px;
left: 149.4px;
top: 620.84px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.65px;
height: 22px;
left: 149.4px;
top: 620.84px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 149.4px;
right: 157.95px;
top: 620.84px;
bottom: 97.16px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.71px;
height: 21.9px;
left: 191.39px;
top: 24.27px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.71px;
height: 21.9px;
left: 191.39px;
top: 24.27px;

transform: rotate(0.81deg);


/* XMLID 43 */

position: absolute;
width: 52.71px;
height: 21.9px;
left: 191.39px;
top: 24.27px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 52.71px;
height: 21.9px;
left: 191.39px;
top: 24.27px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 191.39px;
right: 115.9px;
top: 24.27px;
bottom: 693.83px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 51.75px;
height: 22.49px;
left: 67.31px;
top: 291.2px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 51.75px;
height: 22.49px;
left: 67.31px;
top: 291.2px;

transform: rotate(0.81deg);


/* XMLID 25 */

position: absolute;
width: 51.75px;
height: 22.49px;
left: 67.31px;
top: 291.2px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 51.75px;
height: 22.49px;
left: 67.31px;
top: 291.2px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 67.31px;
right: 240.94px;
top: 291.2px;
bottom: 426.32px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 50.21px;
height: 36.14px;
left: 371.53px;
top: 19.71px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 50.21px;
height: 36.14px;
left: 371.53px;
top: 19.71px;

transform: rotate(0.81deg);


/* XMLID 41 */

position: absolute;
width: 50.21px;
height: 36.14px;
left: 371.53px;
top: 19.71px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 50.21px;
height: 36.14px;
left: 371.53px;
top: 19.71px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 371.53px;
right: -61.74px;
top: 19.71px;
bottom: 684.15px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: 304.8px;
top: 179.54px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: 304.8px;
top: 179.54px;

transform: rotate(0.81deg);


/* XMLID 29 */

position: absolute;
width: 40.26px;
height: 35.46px;
left: 304.8px;
top: 179.54px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: 304.8px;
top: 179.54px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 304.8px;
right: 14.93px;
top: 179.54px;
bottom: 525px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: -90.3px;
top: 353.26px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: -90.3px;
top: 353.26px;

transform: rotate(0.81deg);


/* XMLID 9 */

position: absolute;
width: 40.26px;
height: 35.46px;
left: -90.3px;
top: 353.26px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 40.26px;
height: 35.46px;
left: -90.3px;
top: 353.26px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -90.3px;
right: 410.03px;
top: 353.26px;
bottom: 351.28px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 47px;
height: 40.8px;
left: 309.33px;
top: 453.89px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 47px;
height: 40.8px;
left: 309.33px;
top: 453.89px;

transform: rotate(0.81deg);


/* XMLID 46 */

position: absolute;
width: 47px;
height: 40.8px;
left: 309.33px;
top: 453.89px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 47px;
height: 40.8px;
left: 309.33px;
top: 453.89px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 309.33px;
right: 3.67px;
top: 453.89px;
bottom: 245.31px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 91px;
height: 81.78px;
left: 359.11px;
top: 370.81px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 91px;
height: 81.78px;
left: 359.11px;
top: 370.81px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 91px;
height: 81.78px;
left: 359.11px;
top: 370.81px;

transform: rotate(0.81deg);


/* XMLID 35 */

position: absolute;
width: 91px;
height: 81.78px;
left: 359.11px;
top: 370.81px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 91px;
height: 81.78px;
left: 359.11px;
top: 370.81px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 359.11px;
right: -49.27px;
top: 370.81px;
bottom: 320.02px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 411.64px;
right: -89.74px;
top: 397.53px;
bottom: 286.66px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.16px;
height: 58.06px;
left: 229.04px;
top: 208.47px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.16px;
height: 58.06px;
left: 229.04px;
top: 208.47px;

transform: rotate(0.81deg);


/* XMLID 38 */

position: absolute;
width: 61.16px;
height: 58.06px;
left: 229.04px;
top: 208.47px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.16px;
height: 58.06px;
left: 229.04px;
top: 208.47px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 253.61px;
right: 100.71px;
top: 208.82px;
bottom: 527.13px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 239.25px;
right: 111.23px;
top: 217.57px;
bottom: 491.83px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 260.04px;
right: 69.86px;
top: 212.43px;
bottom: 496.63px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 245.64px;
right: 86.95px;
top: 212.86px;
bottom: 491.74px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 228.54px;
right: 83.51px;
top: 243.92px;
bottom: 473.48px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.04px;
height: 54.46px;
left: 203.04px;
top: 668.34px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.04px;
height: 54.46px;
left: 203.04px;
top: 668.34px;

transform: rotate(0.81deg);


/* XMLID 18 */

position: absolute;
width: 61.04px;
height: 54.46px;
left: 203.04px;
top: 668.34px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.04px;
height: 54.46px;
left: 203.04px;
top: 668.34px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 202.58px;
right: 109.47px;
top: 700.3px;
bottom: 17.2px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 233.98px;
right: 95.92px;
top: 668.78px;
bottom: 40.26px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 213.28px;
right: 137.2px;
top: 674.05px;
bottom: 35.35px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 219.68px;
right: 112.92px;
top: 669.24px;
bottom: 35.36px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.96px;
height: 49.83px;
left: -3.32px;
top: 109.23px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.96px;
height: 49.83px;
left: -3.32px;
top: 109.23px;

transform: rotate(0.81deg);


/* XMLID 4 */

position: absolute;
width: 62.96px;
height: 49.83px;
left: -3.32px;
top: 109.23px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.96px;
height: 49.83px;
left: -3.32px;
top: 109.23px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -3.46px;
right: 300.59px;
top: 125.25px;
bottom: 580.94px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -3.32px;
right: 311.82px;
top: 109.23px;
bottom: 585.35px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.98px;
height: 49.75px;
left: 97px;
top: 673.2px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.98px;
height: 49.75px;
left: 97px;
top: 673.2px;

transform: rotate(0.81deg);


/* XMLID 19 */

position: absolute;
width: 62.98px;
height: 49.75px;
left: 97px;
top: 673.2px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 62.98px;
height: 49.75px;
left: 97px;
top: 673.2px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 96.97px;
right: 200.24px;
top: 688.94px;
bottom: 17.04px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 97px;
right: 211.5px;
top: 673.2px;
bottom: 21.5px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.85px;
height: 47.69px;
left: 233.83px;
top: 295.32px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.85px;
height: 47.69px;
left: 233.83px;
top: 295.32px;

transform: rotate(0.81deg);


/* XMLID 37 */

position: absolute;
width: 34.85px;
height: 47.69px;
left: 233.83px;
top: 295.32px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.85px;
height: 47.69px;
left: 233.83px;
top: 295.32px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 248.51px;
right: 91.77px;
top: 327.81px;
bottom: 396.77px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 233.83px;
right: 94.73px;
top: 295.32px;
bottom: 404.9px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.82px;
height: 47.49px;
left: -132.58px;
top: 140.62px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.82px;
height: 47.49px;
left: -132.58px;
top: 140.62px;

transform: rotate(0.81deg);


/* XMLID 5 */

position: absolute;
width: 34.82px;
height: 47.49px;
left: -132.58px;
top: 140.62px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 34.82px;
height: 47.49px;
left: -132.58px;
top: 140.62px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -118.04px;
right: 458.22px;
top: 173.11px;
bottom: 551.68px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -132.58px;
right: 461.11px;
top: 140.62px;
bottom: 559.6px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 75.04px;
height: 95.8px;
left: 239.84px;
top: 370.4px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 75.04px;
height: 95.8px;
left: 239.84px;
top: 370.4px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 75.04px;
height: 95.8px;
left: 239.84px;
top: 370.4px;

transform: rotate(0.81deg);


/* XMLID 23 */

position: absolute;
width: 75.04px;
height: 95.8px;
left: 239.84px;
top: 370.4px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 75.04px;
height: 95.8px;
left: 239.84px;
top: 370.4px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 263.6px;
right: 73.1px;
top: 370.73px;
bottom: 325.17px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 286.19px;
right: 61.11px;
top: 392.55px;
bottom: 334.75px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 286.89px;
right: 62.51px;
top: 392.56px;
bottom: 343.04px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 244.49px;
right: 89.91px;
top: 434.97px;
bottom: 294.53px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 279.98px;
right: 54.42px;
top: 435.57px;
bottom: 293.93px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 279.97px;
right: 53.53px;
top: 436.57px;
bottom: 279.54px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 244.47px;
right: 89.03px;
top: 436.17px;
bottom: 279.94px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 239.84px;
right: 84.3px;
top: 370.9px;
bottom: 273.8px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 276.68px;
right: 45.14px;
top: 372.32px;
bottom: 273.28px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 90.3px;
height: 130.47px;
left: -40.43px;
top: 589.68px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 90.3px;
height: 130.47px;
left: -40.43px;
top: 589.68px;

transform: rotate(0.81deg);


/* XMLID 14 */

position: absolute;
width: 90.3px;
height: 130.47px;
left: -40.43px;
top: 589.68px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 90.3px;
height: 130.47px;
left: -40.43px;
top: 589.68px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -40.43px;
right: 358.13px;
top: 589.68px;
bottom: 132.15px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -40.35px;
right: 310.15px;
top: 591.05px;
bottom: 19.85px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.2px;
height: 128.93px;
left: 468.37px;
top: 374.08px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.2px;
height: 128.93px;
left: 468.37px;
top: 374.08px;

transform: rotate(0.81deg);


/* XMLID 34 */

position: absolute;
width: 78.2px;
height: 128.93px;
left: 468.37px;
top: 374.08px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 78.2px;
height: 128.93px;
left: 468.37px;
top: 374.08px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 484.47px;
right: -170.27px;
top: 374.31px;
bottom: 355.94px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 503.61px;
right: -147px;
top: 386.23px;
bottom: 334.97px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 479.31px;
right: -136.81px;
top: 378.79px;
bottom: 345.49px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 518px;
right: -172.68px;
top: 381.14px;
bottom: 345.89px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 468.22px;
right: -186.42px;
top: 384.83px;
bottom: 237px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.28px;
height: 102.32px;
left: 304.94px;
top: 623.93px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.28px;
height: 102.32px;
left: 304.94px;
top: 623.93px;

transform: rotate(0.81deg);


/* XMLID 44 */

position: absolute;
width: 95.28px;
height: 102.32px;
left: 304.94px;
top: 623.93px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.28px;
height: 102.32px;
left: 304.94px;
top: 623.93px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 339.72px;
right: -1.82px;
top: 624.42px;
bottom: 108.66px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 349.45px;
right: -40.15px;
top: 629.17px;
bottom: 13.33px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 304.88px;
right: 10.54px;
top: 628.44px;
bottom: 13.75px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.7px;
height: 102.1px;
left: 372.9px;
top: 160.06px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.7px;
height: 102.1px;
left: 372.9px;
top: 160.06px;

transform: rotate(0.81deg);


/* XMLID 30 */

position: absolute;
width: 95.7px;
height: 102.1px;
left: 372.9px;
top: 160.06px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 95.7px;
height: 102.1px;
left: 372.9px;
top: 160.06px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 413.99px;
right: -73.09px;
top: 160.74px;
bottom: 570.74px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 372.9px;
right: -108.6px;
top: 160.06px;
bottom: 477.84px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 85.86px;
height: 105.05px;
left: 373.65px;
top: 498.19px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 85.86px;
height: 105.05px;
left: 373.65px;
top: 498.19px;

transform: rotate(0.81deg);


/* XMLID 47 */

position: absolute;
width: 85.86px;
height: 105.05px;
left: 373.65px;
top: 498.19px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 85.86px;
height: 105.05px;
left: 373.65px;
top: 498.19px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 395.99px;
right: -57.49px;
top: 499.52px;
bottom: 228.38px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 373.65px;
right: -99.51px;
top: 498.19px;
bottom: 136.76px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.42px;
height: 110.1px;
left: 86.1px;
top: 143.9px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.42px;
height: 110.1px;
left: 86.1px;
top: 143.9px;

transform: rotate(0.81deg);


/* XMLID 26 */

position: absolute;
width: 93.42px;
height: 110.1px;
left: 86.1px;
top: 143.9px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.42px;
height: 110.1px;
left: 86.1px;
top: 143.9px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 86.1px;
right: 180.48px;
top: 143.9px;
bottom: 486px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 88.8px;
height: 108.11px;
left: 43.38px;
top: 540.33px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 88.8px;
height: 108.11px;
left: 43.38px;
top: 540.33px;

transform: rotate(0.81deg);


/* XMLID 16 */

position: absolute;
width: 88.8px;
height: 108.11px;
left: 43.38px;
top: 540.33px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 88.8px;
height: 108.11px;
left: 43.38px;
top: 540.33px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 84.86px;
right: 271.8px;
top: 553.42px;
bottom: 161.08px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 75.87px;
right: 261.13px;
top: 540.79px;
bottom: 186.91px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 74.25px;
right: 275.84px;
top: 541.77px;
bottom: 180.03px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 89.06px;
right: 259.15px;
top: 542.08px;
bottom: 179.92px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 43.29px;
right: 227.91px;
top: 546.73px;
bottom: 91.56px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 107.22px;
height: 112.92px;
left: -131.65px;
top: 11.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 107.22px;
height: 112.92px;
left: -131.65px;
top: 11.51px;

transform: rotate(0.81deg);


/* XMLID 1 */

position: absolute;
width: 107.22px;
height: 112.92px;
left: -131.65px;
top: 11.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 107.22px;
height: 112.92px;
left: -131.65px;
top: 11.51px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -89.15px;
right: 384.63px;
top: 26px;
bottom: 623.7px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -53.02px;
right: 397.42px;
top: 24.11px;
bottom: 703.29px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -50.28px;
right: 401.78px;
top: 42.35px;
bottom: 691.39px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -56.38px;
right: 400.58px;
top: 42.47px;
bottom: 681.03px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -57.19px;
right: 398.89px;
top: 14.55px;
bottom: 706.55px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -66.18px;
right: 408.88px;
top: 112.54px;
bottom: 614.63px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -126.55px;
right: 415.35px;
top: 11.58px;
bottom: 637.23px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -67.79px;
right: 415.99px;
top: 14.4px;
bottom: 709.5px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -132.57px;
right: 475.97px;
top: 76.49px;
bottom: 648.21px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 97.3px;
height: 112.6px;
left: -35.7px;
top: 191.88px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 97.3px;
height: 112.6px;
left: -35.7px;
top: 191.88px;

transform: rotate(0.81deg);


/* XMLID 6 */

position: absolute;
width: 97.3px;
height: 112.6px;
left: -35.7px;
top: 191.88px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 97.3px;
height: 112.6px;
left: -35.7px;
top: 191.88px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -20.9px;
right: 351.5px;
top: 192.08px;
bottom: 529.75px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -35.7px;
right: 298.4px;
top: 192.48px;
bottom: 435.52px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 102.8px;
height: 137px;
left: 104.88px;
top: 272.57px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 102.8px;
height: 137px;
left: 104.88px;
top: 272.57px;

transform: rotate(0.81deg);


/* XMLID 24 */

position: absolute;
width: 102.8px;
height: 137px;
left: 104.88px;
top: 272.57px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 102.8px;
height: 137px;
left: 104.88px;
top: 272.57px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 147.07px;
right: 152.33px;
top: 273.17px;
bottom: 395.13px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 159.2px;
right: 184.8px;
top: 391.46px;
bottom: 329.64px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 146.54px;
right: 196.66px;
top: 388.18px;
bottom: 332.62px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 103.54px;
right: 241.46px;
top: 366.56px;
bottom: 354.84px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 109.87px;
right: 235.93px;
top: 371.65px;
bottom: 349.95px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 128px;
right: 174.99px;
top: 327.61px;
bottom: 373.39px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 118.07px;
right: 176.43px;
top: 343.47px;
bottom: 360.82px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 110.19px;
right: 181.31px;
top: 356.36px;
bottom: 348.44px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 134.6px;
right: 207.1px;
top: 384.01px;
bottom: 336.19px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 125.76px;
right: 218.54px;
top: 379.88px;
bottom: 340.82px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 116.82px;
right: 227.48px;
top: 375.25px;
bottom: 345.15px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 139.83px;
left: -137.27px;
top: 401.36px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 139.83px;
left: -137.27px;
top: 401.36px;

transform: rotate(0.81deg);


/* XMLID 10 */

position: absolute;
width: 92.7px;
height: 139.83px;
left: -137.27px;
top: 401.36px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 139.83px;
left: -137.27px;
top: 401.36px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: -137.27px;
right: 404.57px;
top: 401.36px;
bottom: 198.81px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.81px;
height: 135.5px;
left: 449.39px;
top: 592.69px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.81px;
height: 135.5px;
left: 449.39px;
top: 592.69px;

transform: rotate(0.81deg);


/* XMLID 48 */

position: absolute;
width: 93.81px;
height: 135.5px;
left: 449.39px;
top: 592.69px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 93.81px;
height: 135.5px;
left: 449.39px;
top: 592.69px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 501.76px;
right: -166.04px;
top: 595.43px;
bottom: 112.27px;

background: #008B9E;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 449.39px;
right: -183.2px;
top: 592.69px;
bottom: 11.81px;

background: #008B9E;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 55.3px;
height: 97.31px;
left: 308.27px;
top: 260.04px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 55.3px;
height: 97.31px;
left: 308.27px;
top: 260.04px;

transform: rotate(0.81deg);


/* XMLID 36 */

position: absolute;
width: 55.3px;
height: 97.31px;
left: 308.27px;
top: 260.04px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 55.3px;
height: 97.31px;
left: 308.27px;
top: 260.04px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 308.27px;
right: -3.57px;
top: 260.04px;
bottom: 382.65px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 57.8px;
height: 84.56px;
left: 150.77px;
top: 463.94px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 57.8px;
height: 84.56px;
left: 150.77px;
top: 463.94px;

transform: rotate(0.81deg);


/* XMLID 21 */

position: absolute;
width: 57.8px;
height: 84.56px;
left: 150.77px;
top: 463.94px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 57.8px;
height: 84.56px;
left: 150.77px;
top: 463.94px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 150.77px;
right: 151.43px;
top: 463.94px;
bottom: 191.5px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.4px;
height: 48.8px;
left: 49.92px;
top: 445.71px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.4px;
height: 48.8px;
left: 49.92px;
top: 445.71px;

transform: rotate(0.81deg);


/* XMLID 12 */

position: absolute;
width: 61.4px;
height: 48.8px;
left: 49.92px;
top: 445.71px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.4px;
height: 48.8px;
left: 49.92px;
top: 445.71px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 49.92px;
right: 248.68px;
top: 445.71px;
bottom: 245.49px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.2px;
height: 48.9px;
left: 10.44px;
top: 13.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.2px;
height: 48.9px;
left: 10.44px;
top: 13.21px;

transform: rotate(0.81deg);


/* XMLID 3 */

position: absolute;
width: 61.2px;
height: 48.9px;
left: 10.44px;
top: 13.21px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 61.2px;
height: 48.9px;
left: 10.44px;
top: 13.21px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 10.44px;
right: 288.36px;
top: 13.21px;
bottom: 677.89px;

background: #A0CCBF;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 71.5px;
height: 92.9px;
left: 218.32px;
top: 524.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 71.5px;
height: 92.9px;
left: 218.32px;
top: 524.51px;

transform: rotate(0.81deg);


/* XMLID 20 */

position: absolute;
width: 71.5px;
height: 92.9px;
left: 218.32px;
top: 524.51px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 71.5px;
height: 92.9px;
left: 218.32px;
top: 524.51px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 253.32px;
right: 70.18px;
top: 525px;
bottom: 199.7px;

background: #DF5765;
transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 218.25px;
right: 71.25px;
top: 529.41px;
bottom: 122.59px;

background: #DF5765;
transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 145.7px;
left: 458.99px;
top: 19.96px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 145.7px;
left: 458.99px;
top: 19.96px;

transform: rotate(0.81deg);


/* XMLID 40 */

position: absolute;
width: 92.7px;
height: 145.7px;
left: 458.99px;
top: 19.96px;

transform: rotate(0.81deg);


/* Group */

position: absolute;
width: 92.7px;
height: 145.7px;
left: 458.99px;
top: 19.96px;

transform: rotate(0.81deg);


/* Vector */

position: absolute;
left: 458.99px;
right: -191.69px;
top: 19.96px;
bottom: 574.34px;

background: #FCC79B;
transform: rotate(0.81deg);


/* Rectangle 2 */

position: absolute;
width: 358px;
height: 254px;
left: 0px;
top: 252px;

background: rgba(255, 255, 255, 0.41);


/*   54%  14:01 */

position: absolute;
width: 360px;
height: 21px;
left: 0px;
top: 7px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;


/* Rectangle */

position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 + 0.5px);
top: calc(50% - 49px/2 - 50.5px);

background: rgba(39, 174, 96, 0.43);
border-radius: 50px;


/* Rectangle */

position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 + 0.5px);
top: calc(50% - 49px/2 + 11.5px);

background: rgba(39, 174, 96, 0.43);
border-radius: 50px;


/* Rectangle */

position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 + 73.5px);

background: rgba(0, 139, 158, 0.65);
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 50px;


/* LOGIN */

position: absolute;
width: 208px;
height: 49px;
left: calc(50% - 208px/2 - 1px);
top: calc(50% - 49px/2 + 75.5px);

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #FFFFFF;


/* Create account Forgot password? */

position: absolute;
width: 238px;
height: 20px;
left: calc(50% - 238px/2 + 1px);
top: calc(50% - 20px/2 + 115px);

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 13px;

color: #008B9E;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


/* ************* */

position: absolute;
width: 199px;
height: 23px;
left: 84px;
top: 370px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;


/* example@email.com */

position: absolute;
width: 204px;
height: 32px;
left: 86px;
top: 301px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;


/* fb */

position: absolute;
width: 247px;
height: 42.9px;
left: 57px;
top: 525px;

background: url(fb.png);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;


/* ggg */

position: absolute;
width: 247px;
height: 43.77px;
left: 57px;
top: 577px;

background: url(ggg.png);
border-radius: 50px;
