/* Main-Empty */

position: relative;
width: 360px;
height: 740px;

background: #EBEBEB;


/* Ellipse */

position: absolute;
width: 70px;
height: 70px;
left: 260px;
top: 638px;

background: #2F80ED;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


/* Empty */

position: absolute;
width: 172px;
height: 126px;
left: 88px;
top: 244px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;

color: #FFFFFF;


/* Rectangle 2 */

position: absolute;
width: 214px;
height: 740px;
left: 0px;
top: 0px;

background: rgba(126, 204, 113, 0.77);


/*  */

position: absolute;
width: 70px;
height: 50px;
left: 260px;
top: 648px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;

color: #FFFFFF;


/* Rectangle 2 */

position: absolute;
width: 360px;
height: 59px;
left: 0px;
top: 0px;

background: #7ECC71;


/* Rectangle */

position: absolute;
width: 59px;
height: 59px;
left: 0px;
top: 0px;

background: #62B553;


/*  */

position: absolute;
width: 59px;
height: 38px;
left: 0px;
top: 10px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;

color: #000000;
text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


/*  Home  Favourites  Weather  Draw  Logout */

position: absolute;
width: 200px;
height: 550px;
left: 14px;
top: 83px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


/*   54%  14:01 */

position: absolute;
width: 360px;
height: 21px;
left: 0px;
top: 7px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
