/* Registration */
.container{
position: relative;
width: 360px;
height: 740px;

background: #98CB8F;
}

/*   54%  14:01 */

position: absolute;
width: 360px;
height: 21px;
left: 0px;
top: 7px;

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;


/* CREATE ACCOUNT */
h1 {
position: absolute;
width: 158px;
height: 24px;
left: 101px;
top: 184px;
}
h1 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

/* Rectangle */
.form-control1 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 - 105.5px);

background: rgba(255, 255, 255, 0.43);
border-radius: 50px;
}

/* Rectangle */
.form-control2 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 - 43.5px);

background: rgba(255, 255, 255, 0.43);
border-radius: 50px;
}

/* Rectangle */
.form-control3 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 + 18.5px);

background: rgba(255, 255, 255, 0.43);
border-radius: 50px;
}

/* Rectangle */
.form-control4 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 + 80.5px);

background: #DF5765;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 50px;
}

/* SIGN UP */
.form-control1 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 + 80.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #FFFFFF;
}

/* SIGN UP */
.input-group1 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 - 105.5px);

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
}

/*  Password */
.input-group2 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 - 43.5px);

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
}

/* NConfirm password */
.input-group3 {
position: absolute;
width: 247px;
height: 49px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 49px/2 + 18.5px);

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
}

/*  E-mail */

position: absolute;
width: 247px;
height: 31px;
left: calc(50% - 247px/2 - 0.5px);
top: calc(50% - 31px/2 - 114.5px);

font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
